.remark-code-container {
  & > .remark-code-title {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    text-align: left;
    background-color: var(--color-payflo-gray);
    border-top: 1px solid var(--color-payflo-dark);
    border-left: 1px solid var(--color-payflo-dark);
    border-right: 1px solid var(--color-payflo-dark);
  }

  & > .remark-code-title ~ pre {
    margin-top: 0;
    border-radius: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
